body {
    overflow-x: hidden;
}

.first-div {
    margin-top: 10px;
    height: auto;
}
.logo {
    height: 40px;
    width: 100px;
}
.kmd-part {
    margin-left: 50px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.span {
    font-size: 15px;
    padding-top: 10px;
}
.top-span {
    color: rgb(203, 134, 36) !important;
}
.info {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 80px;
    gap: 100px;
    display: flex;
    justify-content: flex-end;
}
.button {
    padding-bottom: 20px;
}

/* hero section  */
.hero {
    margin-top: 0;
    background-image: url(../images/heavy-machinery-used-construction-industry-engineering.jpg)  !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black !important;
    width: 10%;
    height: 30px;
    border-radius: 50%;
}
li:hover {
    text-shadow: 5px 5px 5px 5px rgb(231, 231, 239) !important;
}
.list1 {
    margin-left: 0 !important;
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}
a {
    text-decoration: none !important;
    color: white !important;
}
.demo {
    width: 100%;
    height: 550px;
    background-color: rgb(0, 0, 0, 0.3) !important;
    box-sizing: border-box;
   padding-top: 220px;
   padding-left:2%;
   font-size: large;
}
h2 {
    padding-top: 0px;
}

/* features section  */
.feature {
    margin-top: 50px;
    font-weight: 400;
}
.hhh {
font-weight: 700;
}
.second-layer {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* about us  */

.about-us {
    height: 500px;
    width: 100%;
    margin-bottom: 50px ;
}
.about1 {
background-color: black !important;
color: white !important;
height: 500px;
width: 100%;
padding: 50px;
}
.about2 {
    background-image: url(../images/beautiful-view-construction-site-city-sunset.jpg)  !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

/* gallery  */
.gallery-2 {
    padding: 10px;
}
.gallery1 {
    width: 100%;
    height: 200px;
}

/* testimonials  */
.testimonials {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 200px;
    width: 100%;
    background: url(../images/rubbish.jpg);
}
.test {
    background-color: rgb(0, 0, 0, 0.8) !important;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
/* message  */
.message-img {
    width: 100%;
    height: 500px;
}
.message {
    margin-top: 40px;
}
.message-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 50%px;
    height: 100px;
}
.form-item {
    background-color: rgb(214, 220, 220) !important;
    border: none;
}
input {
    color:black !important;
    font-weight: 600;
}
.message-box {
    margin-top: 10px;;
    background-color: rgb(214, 220, 220) !important;
    border: none;
    height: 200px;
    width: 100%;
    margin-bottom: 5px;
}
textarea {
    height: 200px;
    width: 100%;
    background-color: rgb(214, 220, 220) !important;
    border: none;
}
.verify {
    margin-top: 5px;
}
.prove {
    display: flex;
    gap: 5px;
    border: solid black 1px;
    height: 50px;
    width: 40%;
    align-items: center;
    padding: 10px;
    background-color: rgb(214, 220, 220) !important;
}
.notrobot {
    padding-top: 10px;
}
.next {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:  rgb(59, 37, 4) !important;
    height: 50px;
}
.next-one {
    font-size: 30px;
    font-weight: 700;
}
/* footer  */
.footer {
    margin-top: 40px;
    padding: 40px;
    background-color: rgb(33, 33, 33) !important;
}
.contact {
    color: white !important;
}
.footer-last {
    color: white !important;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-last2 {
    color: white !important;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.last-col2 {
    color: white !important
}
/* last one  */
.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    color: white !important;
    font-size: 13px;
    background-color: rgb(29, 28, 28);
}

@media screen and (max-width : 768px) {
.list1 {
    display: none;
}
.info {
    margin-left: 250px;
}
.hero {
padding: 10px;
}
.testimonials {
   width: 100%;
    height: 300px;
}
.test {
    height: 300px;
}
.gallery-2 {
    margin-top: 500px;
}
}